<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>管理员</title>
		<style>
			#tjbtn{
				width:300px;
			}
			#errmsg{
				color:#ff0000;
			}
		</style>
	</head>
	<body>
		<h1>管理员</h1>
		<p>请输入命令</p>
		<input id="tjbtn" type="text" placeholder="命令">
		<input id="tjbtn0" type="password" placeholder="密码">
		<button onclick="submit()">提交</button>
		<p id="errmsg"></p>
		<div>
			<a href="/help">帮助页面</a>
			<a href="https://github.com/846642391/ddz_server">GitHub</a>
		</div>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script>
			function submit(){
				let text=document.getElementById("tjbtn").value;
				let text0=document.getElementById("tjbtn0").value;
				let ele_errmsg=document.getElementById("errmsg");
				$.post("/admin",{"name":text,"password":text0},function(res){
					ele_errmsg.innerHTML=res["msg"];
					// else if(res["code"]===0)window.location.replace("/");
				})
			}
		</script>
	</body>
</html>